<!--footer start-->
<footer class="footer-section">
    <div class="footer-top pt-150 background-img-2"
         style="background: url('img/footer-bg.png')no-repeat center top / cover">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
                    <div class="footer-nav-wrap text-white">
                        <h3 class="text-white fw-bold mb-3">StyleBox</h3>
                        <p>La mode accessible, livrée chez vous. Découvrez, commandez et partagez vos looks préférés en quelques clics.</p>

                        <div class="social-list-wrap">
                            <ul class="social-list list-inline list-unstyled">
                                <li class="list-inline-item"><a href="#" target="_blank" title="Facebook"><span class="ti-facebook"></span></a></li>
                                <li class="list-inline-item"><a href="#" target="_blank" title="Twitter"><span class="ti-twitter"></span></a></li>
                                <li class="list-inline-item"><a href="#" target="_blank" title="Instagram"><span class="ti-instagram"></span></a></li>
                                <li class="list-inline-item"><a href="#" target="_blank" title="Pinterest"><span class="ti-pinterest"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-8">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 mb-4 mb-md-0">
                            <div class="footer-nav-wrap text-white">
                                <h4 class="h5 mb-3 text-white">Ressources</h4>
                                <ul class="list-unstyled">
                                    <li class="mb-2"><a href="#">Aide</a></li>
                                    <li class="mb-2"><a href="#">Événements</a></li>
                                    <li class="mb-2"><a href="#">Assistance en direct</a></li>
                                    <li class="mb-2"><a href="#">Guide des tailles</a></li>
                                    <li class="mb-2"><a href="#">Documentation</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 mb-4 mb-md-0">
                            <div class="footer-nav-wrap text-white">
                                <h4 class="h5 mb-3 text-white">Entreprise</h4>
                                <ul class="list-unstyled support-list">
                                    <li class="mb-2"><a routerLink="/" fragment="about">À propos</a></li>
                                    <li class="mb-2"><a href="#">Carrières</a></li>
                                    <li class="mb-2"><a href="#">Clients</a></li>
                                    <li class="mb-2"><a href="#">Communauté</a></li>
                                    <li class="mb-2"><a routerLink="/" fragment="team">Notre équipe</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="footer-nav-wrap text-white">
                                <h4 class="h5 mb-3 text-white">Coordonnées</h4>
                                <ul class="list-unstyled support-list">
                                    <li class="mb-2 d-flex align-items-center"><span class="ti-location-pin me-2"></span> Abidjan, Côte d'Ivoire</li>
                                    <li class="mb-2 d-flex align-items-center"><span class="ti-mobile me-2"></span> <a href="tel:+22500000000"> +225 00 00 00 00 00</a></li>
                                    <li class="mb-2 d-flex align-items-center"><span class="ti-email me-2"></span><a href="mailto:contact&#64;stylebox.ci"> contact&#64;stylebox.ci</a></li>
                                    <li class="mb-2 d-flex align-items-center"><span class="ti-world me-2"></span><a routerLink="/" fragment="top"> www.stylebox.ci</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom border-gray-light mt-5 py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-7">
                        <div class="copyright-text small">
                            <p class="mb-0 text-white">© 2026 StyleBox, tous droits réservés</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-5">
                        <div class="terms-policy-wrap text-md-end text-start">
                            <ul class="list-inline">
<li class="list-inline-item"><a class="small" routerLink="/" fragment="top">Conditions</a></li>
<li class="list-inline-item"><a class="small" routerLink="/" fragment="top">Sécurité</a></li>
<li class="list-inline-item"><a class="small" routerLink="/" fragment="top">Confidentialité</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer end-->
